body {
    background-color: #121214;
    background-image: url(./assets/bg.svg) no-repeat top center/cover;
    background-position: top center;
}

body * {
    font-family: 'Roboto',sans-serif;
} 

.-card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #000;
}
